.home-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-border-div {
    max-width: 360;
    position: relative;
    background: linear-gradient(to right, #cd1df0, #da3b30);
    padding: 2px;
    border-radius: 5px;
}

.home-button {
    height: 34px;
    width: 200px;
    border: 1px solid #df1f85;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 10px;
}

.home-h1 {
    padding-bottom: 40px;
    font-weight: 100;
    font-size: 2.5em;
}

.home-form-container {
    padding: 3em;
    background-color: black;
    border-radius: 5px;
}

.home-image {
    width: 240px;
    border-radius: 120px;
}
